yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

extends: default

ignore: ""

rules:
  indentation:
    indent-sequences: true
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  comments-indentation: disable
  document-start: disable
  line-length: disable
